

html, body {
  margin top: 10px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 10px;
  padding: 10px;
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}



* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 140px;
}

.left, .right {
width: 33%;
}

.middle {
width: 33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
      font-size: 16px;
    }
h1 {
   background-color:LightGray;
   text-transform: uppercase;

}

h2 {
  background-color:LightGray;
}

h3 {
  background-color:LightGray;
}
