body {
  background-color: #fbf6bd;
}

p {
  font-size: 16px;
    }

h1 {
   text-transform: uppercase;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.wrapper {
  margin: auto;
  width: 60%

}

.name {
  color: black;
  border: 4px dotted grey;
  border-radius: 20px;
  text-align: center;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 150px;
  margin-bottom: 10px;
}

.left, .right {
  width: 33%;
}

.middle {
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 75px;
}
