

html, body {
  margin top: 10px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 10px;
  padding: 10px;
  background-color:LightGray;

}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
 
}

.name {
  color: black;
  border: 4px dotted grey;
  border-radius: 20px;
  text-align: center;
}

.info {
  border: 4px dotted grey;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 150px;
  margin-bottom: 10px;
}

.left, .right {
  width: 33%;
}

.middle {
  width: 33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
    }

h1 {
   text-transform: uppercase;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
